<% content_for :title do %>
	<%= render 'admin/shared/heads' %>
 	<p>HYPERLINK EDITOR - EDIT</p>
<% end %>

<% content_for :buttons do %>
  <%= render 'admin/hyperlinks/buttons' %>
<% end %>

<% content_for :page_content do %>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Edit Hyperlink</div>

    <%= simple_form_for(@hyperlink, url: page_hyperlink_path(@issue, @article, @page, @hyperlink), method: :patch) do |f| %>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.input :source_url, error: false, label: 'Source URL' %>
          </div>
        </div><!-- .form-group -->
        <div class="form-group" id="page-coordinates">
          <div class="col-md-3">
            <%= f.input :coord_x, error: false, label: 'X' %>
          </div>
          <div class="col-md-3">
            <%= f.input :coord_y, error: false, label: 'Y' %>
          </div>
          <div class="col-md-3">
            <%= f.input :coord_w, error: false, label: 'W' %>
          </div>
          <div class="col-md-3">
            <%= f.input :coord_h, error: false, label: 'H' %>
          </div>
        </div><!-- .form-group -->
      </div>

      <div class="panel-footer">
        <%= f.button :submit, :class => 'btn btn-primary btn-sm' %>

        <%= link_to 'Remove Hyperlink', page_hyperlink_path(@issue, @article, @page, @hyperlink),
            method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-sm' %>
      </div>
    <% end %>
  </div>
</div><!-- .col-md-6 -->

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag @page.image_url(:large), :id => 'link-crop', :style => 'width: 456px; height: 610px' %>
    </div>
  </div>
</div><!-- .col-md-6 -->
<% end %>

<%= render 'admin/shared/layout' %>
